---
const apiEndpoint = import.meta.env.SCORE_API_ENDPOINT

const res = await fetch(apiEndpoint)

const scoreValue = await res.text()
---

<span id="score" class="text-white text-xs font-bold">
  {`⭐ Puntuacion ${scoreValue.trim()}/5`}
</span>
